@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700);

body{
  background:#485B6E;
  margin: 0 50px;
  padding:0px;
  position:relative;
}

h1{
  color: #F5F3EC;
  font-family: "Raleway",Calibri,Arial,sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 72.8px;
  margin:100px 0 0 0;
  text-align: center;
}

span{
  color: #F5F3EC;
  display: block;
  font-family: "Raleway",Calibri,Arial,sans-serif;
  font-size: 25.7667px;
  font-weight: 300;
  line-height: 33.5px;
  opacity: 0.7;
  padding-bottom: 15.4667px;
  padding-left: 2.58333px;
  padding-right: 0px;
  padding-top: 10.3px;
  text-align: center;
}


#wrapper{
  position:relative;
  max-width:960px;
  min-height:100px;
  background:#485B6E;
  margin: 100px auto;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.5);
  transition: box-shadow 0.8s;
}

#wrapper:hover{
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.8);
  -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.8);
  box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.8);
}

.photos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  padding: 0;
  max-width: 960px;
}

.photos a{
  display: block;
  float: left;
  flex: 0 0 auto;
  position:relative;
}

.photos img{
  display: block;
  width: 100%;
  height: 100%;
}


@media screen and (min-width: 1024px) {
  .photos a {
    width: calc(100%/5);
    height: calc(100%/5);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .photos a {
    width: calc(100%/3);
    height: calc(100%/3);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .photos a {
    width: calc(100%/2);
    height: calc(100%/2);
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .photos a {
    width: 100%;
    height: 100%;
  }
}

@media screen  and (max-width: 320px) {
  .photos a {
    width: 100%;
    height: 100%;
  }
}
